/*Css*/
/*
#ab2d2a rojo
#d7d2c5 marron
*/
@font-face {
  font-family: 'Leelawadee Bold';
  /*src: url('../fonts/leelawdb.eot'); *//* IE9 Compat Modes */
  src: url('../fonts/leelawdb.woff') format('woff'), 
       url('../fonts/leelawdb.ttf')  format('truetype'), 
       url('../fonts/leelawdb.svg#svgFontName') format('svg'); /* Legacy iOS */

}
@font-face {
  font-family: 'Leelawadee';
  /*src: url('../fonts/leelawdb.eot'); *//* IE9 Compat Modes */
  src: url('../fonts/leelawad.woff') format('woff'), 
       url('../fonts/leelawad.ttf')  format('truetype'), 
       url('../fonts/leelawad.svg#svgFontName') format('svg'); /* Legacy iOS */

}
body *{
	color: #ab2d2a;
}
.main{
	background:#fff; 
}
footer *{
	color: #ab2d2a;
}
.no-padding{
	padding: 0;
}
.no-padding-right{
	padding-right: 0;
}
.no-padding-left{
	padding-left: 0;
}
.logoheader{
	margin: 20px auto;
    text-align: center;
    width: 40%;
}
.logovinila{
	margin: 20px 0;
}
.nav-pills *{
  font-family: 'Leelawadee';
}
.nav li a:hover, .nav li a:active, .nav li a:focus{
	background: transparent;
}
.language{
	position: absolute;
	bottom: 40px;
	right: 0;
}
.nav.lang{
	float: right;
}
.nav.lang li{
	display: inline;
	float: left;
	width: auto;
	text-transform: uppercase;
}
.nav.lang li a{
	padding:5px;
}
.nav.bag{
	float: right;
}
.headercont{
	margin: 0 auto;
}
.menuprin{
	background: #ab2d2a;
}

.menuprin.affix {
	top: 0;
	z-index: 200;
}

.menuprin nav *{
	color: #d7d2c5;
}
.menuprin nav ul{
	width: 580px;
	margin: 0 auto;
}
.menuprin nav ul li a{
	margin: 0 20px;
	text-transform: uppercase;
}
.menuprin nav ul li a:hover{
	background: transparent;
	color: #d7d2c5;
}
.logomenu img{
	margin-top: 12px;
}

.affix .logomenu img{
	display: block;
	opacity: 1;
}
.logomenu img{
	display: none;
    -webkit-transition: opacity 1s ease-out;
    opacity: 0; 
}

.nav-main{
	float: left;
}
.nav-main ul li a{
	font-size: 18px;
}
.bolsa{
	float: left;
}
.bolsa .menu-bag li{
	float: right;
}
.bolsa .menu-bag li a{
	font-family: 'Leelawadee';
	padding: 15px 0 0 35px;
	text-transform: lowercase;
	height: 50px;
	padding-left: 55px;
	color: white;
	background: url('../img/bag.png') scroll no-repeat center left transparent;
}
.bolsa .menu-bag li a:hover, .lang li a:hover, .f-menu li a:hover{
	text-decoration: underline;
	color: #ab2d2a;
}

.nav > li > a:hover, .nav > li > a:focus{
	background-color: transparent;
}
.nav > li > a:hover, .nav > li > .dropdown-toggle:focus{
	background-color: transparent;
}
.nav-pills .dropdown-menu{
	background: transparent;
	border-radius: 0;
	border: none;
	box-shadow: none;
    margin-left: 30px;
    min-width: 110px;
    width: 110px;
    background: rgba(171,45,42, 0.7);
}

.nav-pills .dropdown-menu li{

	width: 100%;
	margin: 2px 0;
	text-align: center;
}
.nav-pills .dropdown-menu li a{
	color: #d7d2c5;
	text-transform: lowercase;
	padding: 5px;
	text-align: right;
	margin: 0;
	font-size: 12px;
}
.caret {
    border-left: 6px solid rgba(0, 0, 0, 0);
    border-right: 6px solid rgba(0, 0, 0, 0);
    border-top: 7px solid;
    width: 6px;
}
.nav-pills .dropdown-menu li a:first-letter{
	text-transform: uppercase;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
	background: none;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus{
	background: #ab2d2a;
	margin: 0;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus{
	background: #ab2d2a;
	background: rgba(171,45,42, 0.7);
	margin: 0;
	color: #d7d2c5;
}
.menuprin nav ul .icon-cart a{
	text-transform: lowercase;
}
/*HOME SUBHEADER*/
.gallery img{
	width: 100%;
}
.home .page-header{
	display: none;
}
/*HOME CONTENT*/
.element{
	display: inline-block;
	text-align: center;
	margin: 180px 0;
}
.carousel-indicators{
	bottom: -40px;
}
.carousel-indicators .active{
	background: #ab2d2a;
}
.carousel-indicators li{
	border: 1px solid #ab2d2a;
}

.carousel-inner img {
	margin: 0 auto;

}
/*.element a{
	font-size: 64px;
    font-weight: bold;
    background: rgba(215,210,197, 0.4);
    display: block;
    margin-top: 97px;
    padding: 38px 0;
}*/
/*.element a:hover, .element a:active, .element a:focus{
	color: #d7d2c5;
	text-decoration: none;
}*/
/*LIST PRODUCTS*/

.post-type-archive .wrap{
	margin-top: 70px;
}
.producto {
    margin-bottom: 35px;
    list-style: none;
    position: relative;
}
.producto a{
	display: inline-block;
    width: 300px;
}
.producto a:hover{
	text-decoration: none;
	color: #EF9D9A;
}

.producto .productthumb{
	display: block;
    padding-bottom: 40px;
    width: 100%;
}

.producto .productthumb img{
	height: 100%;
    width: 100%;
    webkit-box-shadow: 0px 10px 9px -4px rgba(150,150,150,0.1);
	-moz-box-shadow: 0px 10px 9px -4px rgba(150,150,150,0.1);
	box-shadow: 0px 10px 9px -4px rgba(150,150,150,0.1);
}
.producto .productthumb:hover .contenthover{
	background: green;
    bottom: 0;
    color: #FFFFFF;
    display: none;
    height: 82px;
    overflow: hidden;
    padding: 120px 20px 20px;
    position: absolute;
    width: 182px;
}
.hoverproduct h2{
    font-family: 'Leelawadee'; 
	text-transform: uppercase;
	text-align: right;
	display: inline-block;
	font-size: 21px;
	color: #ab2d2a;
	text-decoration: none;

}
.hoverproduct{
	margin-top: 10px;
	text-align: right;
}
.hoverproduct .product-price .amount, .hoverproduct .product-price .price{
	width: 100%;
	text-align: right;
	color: #808080;
	font-size: 21px;
	font-family: 'Leelawadee';
}


/*Producto*/
.product-gallery{
	margin: 40px 0;
}
.product-gallery h3{
	font-size: 16px;
	text-transform: uppercase;
}
.fik_product .price{
	display: inline-block;
	text-align: right;
	width: 50%;
    padding:0;
   	color: #808080;
   	font-size: 25px;

}
.fik_product .price .amount{
	font-size: 25px;
	color: #808080;
}
.fik_add_cart{
	margin: 60px 0;
}
.fik_add_cart .control-label{
	text-transform: uppercase;
	color: #808080;
	margin-bottom: 0;
}
.fik_add_cart .btn{
	background: #ab2d2a;
	border: none;
	width: 100%;
	border-radius: 0;
	text-transform: uppercase;
	padding: 10px 0;
}
.fik_add_cart .product-quantity{
	border: 3px solid #d7d2c5;
	padding: 10px 20px;
	margin-bottom: 15px;
	margin-top: 20px;
}
.fik_add_cart .product-variations{
	display: block;
    margin: 20px 0;
    width: 100%;
    border: 3px solid #d7d2c5;
    padding: 12px 20px;
}

.fik_add_cart .controls{
    width: 200px;
	display: inline;
	float: right;
	text-align: right;
}
.fik_add_cart .input-mini{
	border: none;
	color: #808080;
}

.fik_add_cart select{
	border: 0;
	border-radius: 0;
	background: transparent;
	-webkit-appearance: none;
}

.fik_product .entry-title{
	color: #ab2d2a;
	text-align: left;
	text-transform: uppercase;
	margin:0;
	font-size: 25px;
}
.price-and-purchase{
	margin: 40px 0;
}
.price-and-purchase header{
	float: left;
	width: 50%;
}
.price-and-purchase p{
	color: #808080;
	margin: 20px 0 40px 0;
	font-size: 12px;
}
.widget .hoverproduct h2{
	font-size: 14px;
}
.widget .hoverproduct .product-price .amount, .hoverproduct .product-price .price{
	font-size: 12px;
}

/*footer*/
footer *{
	font-size: 12px;
}
footer{
	background: #d7d2c5; /*marron del pie*/
}
.f-menu{
	background: whitesmoke;
}
.nav.f-menu{
	background: transparent;
	padding-top: 15px;
}
.nav.f-menu li{
	display: inline;
    float: left;
    width: auto;
    text-transform: uppercase;
}
.logofooter{
	margin-left: 21px;
	margin-top: 29px;
}
/*SOCIAL*/
.nav li{
	float: left;
}
footer .nav.f-menu > li > a{
	padding: 10px 24px;
}
.copyr{
	margin-top: 70px;
	text-align: right;
}
footer form{
	background: #ab2d2a;
	margin-top: 20px;
	width: 100%;
	height: 40px;
}
footer form input{
	margin-top: 3px;
	height: 32px;
	width: 55%;
	  margin-left: 4px;
}
footer form input.button{
	width: 40%;
	color: #fff;
	background: transparent;
	border: none;
	font-size: 14px;
	text-transform: uppercase;
}
#ns_widget_mailchimp_form-2 label{
	display: none;
}
.widget_ns_mailchimp h3{
	font-weight: normal;
	padding-top: 9px;
}

#ns_widget_mailchimp_form-2 p {
	color: #d7d2c5;
	text-align: center;
	padding-top: 10px;
}

.partelogo{
	margin-top: -9px;
}
.social{
	padding-top: 9px;
	margin-bottom: 30px;
}
.social p{
	text-transform: uppercase;
	margin-bottom: 0;
	margin-top: 10px;
}
.social li{
    margin-right: 15px;
    width: 31px;
}
.social li a{
	background:url('../img/social.png') scroll no-repeat 0 0 transparent;
	text-indent: -99000px;
	overflow: hidden;
	background-position: -136px 0;
    height: 31px;
    padding: 0;
    width: 32px;
}
.social li a:hover{	
	background:url('../img/social.png') scroll no-repeat 0 0 transparent;
	height: 31px;
	border-radius: 0;
}
.social .face a{
	background-position:0px 0;
}
.social .twitter a{
	background-position:-103px 0;
}
.social .instagram a{
	background-position:-34px 0;
}
.social .pinterest a{
	background-position:-70px 0;
}
.social .gplus a{
	background-position:-137px 0;
}


.social .face a:hover{
	background-position:0px -33px;
}
.social .twitter a:hover{
	background-position:-103px -33px;
}
.social .instagram a:hover{
	background-position:-34px -33px;
}
.social .pinterest a:hover{
	background-position:-70px -33px;
}
.social .gplus a:hover{
	background-position:-137px -33px;
}
.thumbnail {
    float: left;
    height: 90px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-top: 30px;
    padding: 12px;
    width: 100px;
    border-radius: 0;
    border-color: #ab2d2a;
}
.thumbnails{
	display: inline-block;
	padding-left: 0;
}
/*QUITAR ESTAS LINEAS CUANDO HAYA MENU*/
	/*.copyr {
	    margin-top: 95px;
	}
	.logofooter {
	    margin-top: 55px;
	}*/

@media screen and (max-width: 1200px){
	footer .nav.f-menu > li > a {
	    padding: 10px 11px;
	}
	.social li {
	    margin-right: 10px;
	}
	.partelogo img{
		height: 40px;
	    margin-top: 10px;
	    width: 70px;
	}
	.logofooter {
	    margin: 26px 0 0 0;
	}
	.copyr {
	    margin-top: 70px;
	}
	.language{
		bottom: 17px;
	}
}
@media screen and (max-width: 1000px){
	.hoverproduct h2 {
    	font-size: 14px !important;
	}
	.hoverproduct .product-price .amount, .hoverproduct .product-price .price {
    	font-size: 21px !important;
	}
	.f-menu{
		display: inline-block;
	    position: static;
	    width: 50%;
	}
	footer .nav.f-menu > li > a {
	    padding: 4px 11px;
	}
	.logofooter{
		margin: 11px 0 0 0;
	}
	.copyr, .rights{
		font-size: 9px;
		margin-top: 55px;
	}
		.nav-main ul.nav-pills{
		width: 410px !important;
	}
		.nav-main ul.nav-pills li a{
		margin: 0 ;
	}
}
@media screen and (max-width: 768px){
	.homecontent .element{
		margin: 90px 0 0 0;
		padding: 0;
	}
	.homecontent .dcha{
		margin-bottom: 90px;
	}
	.homecontent .element, .img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img{
		width: 100%;
	}
	.logoheader{
	    width: 100% !important;
	}
	.copyr {
	    display: block;
	    font-size: 12px;
	    margin-top: 34px;
	    width: 100%;
	    text-align: left;
	}
	.rights{
		font-size: 12px;
	}
	.logofooter {
	    margin: 10px 0 0;
	}
	.logomenu{
		display: inline;
		float: left;
	}
	.bolsa{
		float: right;
	}
	.nav-main{
		margin-left: 50px;
	}
}
@media screen and (max-width: 690px){
    .menuprin nav ul{
        width: auto;
    }
    .f-menu{
    	padding-top: 0 !important;
    	width: 100%;
    }
    .f-social{
	    width: 100%;
	}
	.logofooter{
		margin-bottom: 30px;
	}
    .copyr{
    	display: block;
    	margin-top: 51px;
    	width: 100%;
    	text-align: right;
    }
    .nav-pills > li {
	    display: block;
	    text-align: center;
	    width: 100%;
	}
	.menuprin{
		position: relative;
	}
	.bolsa{
		position: absolute;
		right: 0;
	}
	.nav-main{
		margin-left: 0;
	}
	.nav-main ul.nav-pills{
		width: auto !important;
	}
}
@media (max-width: 410px){
	.nav.f-menu li {
	    display: block;
	    text-transform: uppercase;
	    width: 100%;
	}
	.nav.f-menu li a{
		text-align: center;
	}
	.logoheader{
	    width: 100% !important;
	}
	footer{
		margin-top: 40px !important;
	}
	.social p{
		text-align: center;
	}
	.logofooter {
	    margin: 18px auto;
	    text-align: center;
	    width: 100%;
	}
	.copyr{
	    padding-left: 0;
	    text-align: center;
	}
	.menuprin{
		padding-bottom: 30px;
	}
	.language{
		bottom: -24px;
	}
}
