@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800);
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul,li {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*TYPE*/

@font-face {
    font-family: 'vinila';
    src: url('../fonts/leelawad.eot');
    src: url('../fonts/leelawad.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leelawad.woff') format('woff'),
         url('../fonts/leelawad.ttf') format('truetype'),
         url('../fonts/leelawad.svg#leelawadeeregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'vinilabold';
    src: url('../fonts/leelawdb.eot');
    src: url('../fonts/leelawdb.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leelawdb-webfont.woff') format('woff'),
         url('../fonts/leelawdb.ttf') format('truetype'),
         url('../fonts/leelawdb.svg#leelawadeebold') format('svg');
    font-weight: normal;
    font-style: normal;}
body{
	font-family: 'vinila', sans-serif;
	font-weight:normal;
	color:#000;
	background:#fff;
	}
h1{
	font-family: 'vinilabold', sans-serif;
	font-weight:800;
	text-transform:uppercase;
	color:#000;
	font-size:2.8em;
	letter-spacing:0.3em;
	}
h2{
	font-family: 'vinilabold', sans-serif;
	font-weight:800;
	text-transform:uppercase;
	color:#000;
	font-size:1em;
	margin-bottom:30px;
	letter-spacing:0.1em;
	}
a{
	font-family: 'open sans', sans-serif;
	font-weight:600;
	text-transform:uppercase;
	color:#C43A3B;
	font-size:0.7em;
	letter-spacing:0.15em;	
	text-decoration:none;
	}	
a:hover{
	text-decoration:none;
	color:#922b2c;
	}
	
.product-title{
	font-size:1.5em;
	font-weight:normal;
	color:#C43A3B;
	margin-bottom:10px;

	}
.product-price{
	font-size:1.3em;
	color:#999;
	letter-spacing:normal;
	}
.product-description {margin:15px 0;}	

.product-tags a{color:#999;font-size:0.6em;	font-family: 'vinila', sans-serif;
letter-spacing:0.2em;}
.main{margin-top:80px;}
.main>li{margin:20px 0;}

/*GENERAL*/

.logo{
    max-width: 210px;
    height: auto;
    width: 100%;
}

.navbar-default{
	background:none !important;
	border:none !important;
}

.fiklogo{
	position:relative;
	bottom:0;
	right:20px;
	}
.page-header {
    display: none;
}
	
.wrap{
	margin-bottom:35px;
	}
	
/*HEADER*/
header.banner {
    background-color: #fff;
}
body.home header.banner {
    background-color: transparent;
}


.nav{
	margin: 20px 0 0 0;
	padding-left:0;
	list-style:none;
	}
.nav>li{
	}
.nav>li>a{
	display:inline;
	padding:7px 10px;
	}
.nav>li>a:hover,.nav>li>a:focus{
	text-decoration:none;
	color:#C43A3B;
	background-color: transparent !important;
	border-bottom:3px #C43A3B solid;
	}
.nav>li.disabled>a{
	color:#999
	}
.nav>li.disabled>a:hover,.nav>li.disabled>a:focus{
	color:#999;
	text-decoration:none;
	background-color:transparent;
	cursor:not-allowed
}

.bolsa {
    float: right;
}
	
/*FOOTER*/
footer{padding-bottom:20px;}

.home footer{
	position:absolute;
	bottom:15px;
	left:0;
	width:100%;
	z-index:9999;
	}
.nav-footer > li > a, .nav > li > a{
	color:#000;
	font-weight:400;
	font-size:0.6em;
	}
.nav > li > a{
	font-size:0.8em;
	font-weight:700 !important;	
	}

.nav-footer ul li{
	display:inline !important;
	}

.nav-footer{
	margin:0;
	padding-left:0;
	list-style:none
	}
	
.nav-footer>li, .nav>li{
	display:inline !important;
	}

.nav-footer>li>a{
	padding:10px 5px
	}
.nav-footer>li>a:hover,.nav-footer>li>a:focus{
	text-decoration:none;
	color:#C43A3B;
	}

.inner-footer .fiklogo, .inner-footer .social, .inner-footer .nav-footer{margin-top:20px;text-align:center;}

/*SOCIAL ICONS*/

.social li {
    margin-left:6px;
    width: 31px;
	display:inline-block;
}

.social li a {
    background: url("../img/social.png") no-repeat scroll -136px 0 transparent;
    height: 31px;
    overflow: hidden;
    padding: 0;
    width: 32px;
	display:block;
	text-indent:-9999px !important;

}
.social li a:hover {
    background: url("../img/social.png") no-repeat scroll 0 0 transparent;
    border-radius: 0;
    height: 31px;
}
.social .face a {
    background-position: 0 0;
}
.social .twitter a {
    background-position: -103px 0;
}
.social .instagram a {
    background-position: -34px 0;
}
.social .pinterest a {
    background-position: -70px 0;
}
.social .gplus a {
    background-position: -137px 0;
}
.social .face a:hover {
    background-position: 0 -33px;
}
.social .twitter a:hover {
    background-position: -103px -33px;
}
.social .instagram a:hover {
    background-position: -34px -33px;
}
.social .pinterest a:hover {
    background-position: -70px -33px;
}
.social .gplus a:hover {
    background-position: -137px -33px;
}


/*PRODUCT PAGE*/

.product-msg{display:none;}

.controls select {
	  font-family: 'vinila', sans-serif;
	  font-weight:normal;
	  color:#808080;
      border: 0 !important;
      background-position: 82px 7px;  
      width: 100px; 
	
}

.text-left p{text-align:left !important;}

.price-and-purchase header{margin:0; padding-top:0;height:auto;z-index: 1 !important;}
.guide{float:right;}

/*FORMS*/
.nl-cont{
	clear: both;
    text-align: center;
    white-space: nowrap;
	margin:20px 0;
	}
.newsletter{
    border: 1px solid #e7e7e1;
	display: inline-block;
    vertical-align: middle;
	width:350px;
	text-align:center; }
	
.newsletter p{font-size:0.7em;height:0;margin:0;padding:0;}


.newsletter input,.newsletter textarea {
    background-color: #fff;
    border: none;
    color: #000000;
    letter-spacing: 1px;
    line-height: 12px;
    margin: 0;
    max-width: 100%;
    padding: 9px 9px 5px !important;
    text-rendering: optimizelegibility !important;
    vertical-align: middle;
	text-transform: uppercase;
	float:left;
}	
.newsletter input[type="submit"]{
	
	 background: none repeat scroll 0 0 #fff;
    border: 2px solid #000 !important;
    border-radius: 0;
    box-sizing: content-box;
    color: #000;
    cursor: pointer;
    display: inline;
    font-weight: 500;
    height: auto;
    letter-spacing: 3px !important;
    margin: 0;
    min-width: 130px;
    padding: 11px 9px 7px;
    text-align: center;
    text-decoration: none !important;
    text-rendering: optimizelegibility !important;
    text-transform: uppercase;
    vertical-align: middle;}

/* CONTACT PAGE */
.contacto .main{
    margin-top: 150px;
}

/* CART PAGE */

.cart .main{
    padding-top: 50px;
}
.cart header.entry-header{
    display: none;
}

/* Front page popup */

#overlay {
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    width:100%;
    height:100%;
    z-index:9998;
    background-color: #000;
    opacity: .8;
}
#popup {
    font-family:'Open Sans',sans-serif;
    position:absolute;
    width:350px;
    min-width:200px;
    top:50%;
    left:50%;
    margin-left:-175px;
    margin-top:-200px;
    background-color:#fff;
    text-align:center;
    z-index: 9999;
}
.content{padding:30px;}
    
#popup h1{
    font-size:1em;
    padding: 10px 4px 0px 4px;
    letter-spacing:0.05em;
    color:#959595;
    font-weight:600;
    }
#popup p{
    font-size:0.8em;
    padding: 12px 4px;
    color:#959595;
    }
#popup span{
    font-weight:600;
    color:#636363;
    text-decoration:underline;
    }
    
.closepopup{
    font-size:0.8em;
    text-transform:uppercase;
    border:2px #CCC solid;
    padding:6px 10px;
    cursor:pointer;
    letter-spacing:0.08em;
    color:#9F2F30;
    font-weight:700;
        }   
.closepopup:hover{
    border:2px #9F2F30 solid;
    padding:6px 10px;
    cursor:pointer;
        }

/************************************************/

.affix .logomenu img {
    display: block;
    opacity: 1;
}

.bolsa .menu-bag li a {
    background: url("../img/bagnew.png") no-repeat scroll left center transparent;
    color: #000;
    display: inline-block;
    font-family: 'vinila';
    padding-left: 17px;
    padding-right: 0;
    text-transform: uppercase;
}
.lang li a:hover, .f-menu li a:hover {
    color: #922b2c;
    text-decoration: none;
}
.bolsa .menu-bag li a:hover {
     color: #922b2c;
    text-decoration: none;
}
.cartitems {
    color: #d7d2c5;
}


.caret {
    border-left: 6px solid rgba(0, 0, 0, 0);
    border-right: 6px solid rgba(0, 0, 0, 0);
    border-top: 7px solid;
    width: 6px;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background: none repeat scroll 0 0 rgba(171, 45, 42, 0.7);
    color: #d7d2c5;
    margin: 0;
}
.menuprin nav ul .icon-cart a {
    text-transform: lowercase;
}
.gallery img {
    width: 100%;
}
.home .page-header {
    display: none;
}
.contacto .page-header {
    display: none;
}
.element {
    display: inline-block;
    margin: 180px 0;
    text-align: center;
}
.carousel-indicators {
    bottom: -40px;
}
.carousel-indicators .active {
    background: none repeat scroll 0 0 #ab2d2a;
}
.carousel-indicators li {
    border: 1px solid #ab2d2a;
}
.carousel-inner img {
    margin: 0 auto;
}
.tax-store-section .page-header {
    display: none;
}
.tax-store-section .main {
    padding-top: 35px;
}
.post-type-archive .wrap {
    margin-top: 70px;
}
.producto {
    list-style: none outside none;
    margin-bottom: 45px;
    position: relative;
}
.producto a:hover, .product-tags a:hover {
    color: #ef9d9a;
    text-decoration: none;
}
.producto img {
    box-shadow:2px 2px 12px rgba(0, 0, 0, 0.1);
    height: auto;
    width: 100%;
}
.producto .productthumb:hover .contenthover {
    background: none repeat scroll 0 0 green;
    bottom: 0;
    color: #ffffff;
    display: none;
    height: 82px;
    overflow: hidden;
    padding: 120px 20px 20px;
    position: absolute;
    width: 182px;
}
.product-description h2 {
    color: #ab2d2a;
    display: inline-block;
    font-family: 'vinila';
    font-size: 21px;
    text-align: right;
    text-decoration: none;
    text-transform: uppercase;
}
.producto h2.product-title {
    font-size: 18px !important;
    margin-top: 0;
    padding-top: 0;
}
.producto .product-sku {
    color: #ab2d2a;
    font-size: 11px;
    text-align: left;
}
.producto .product-description .product-price .amount, .producto .product-description .product-price .price {
    font-size: 16px;
}
.product-tags {
   
    padding-top: 18px;
    text-align: left;
}
.product-tags a {
    color: #808080;
}
.product-description {
    margin-top: 30px;
    text-align: right;
}
.product-description .product-price .amount, .product-description .product-price .price {
    color: #808080;
    font-family: 'vinila';
    font-size: 21px;
    text-align: right;
    width: 100%;
}
.product-gallery {
    margin: 40px 0;
}
.product-gallery h3 {
    font-size: 16px;
    text-transform: uppercase;
}
.fik_product .price {
    color: #808080;
    display: inline-block;
    float: right;
    font-size: 25px;
    padding: 0;
    text-align: right;
    width: 50%;
}
.fik_product .price .amount {
    color: #808080;
    font-size: 25px;
}
.ref, .guide {
    margin-top: 25px;
}
.fik_add_cart {
    margin: 25px 0 50px;
}
.fik_add_cart .control-label {
    color: #808080;
    margin-bottom: 0;
    text-transform: uppercase;
}
.fik_add_cart .btn {
    background: none repeat scroll 0 0 #ab2d2a;
    border: medium none;
    border-radius: 0;
    padding: 10px 0;
    text-transform: uppercase;
    width: 100%;
}
.fik_add_cart .product-quantity {
    border: 3px solid #d7d2c5;
    margin-bottom: 15px;
    margin-top: 20px;
    padding: 10px 20px;
}
.fik_add_cart .product-variations {
    border: 3px solid #d7d2c5;
    display: block;
    margin: 20px 0;
    padding: 12px 20px;
    width: 100%;
}
.fik_add_cart .controls {
    display: inline;
    float: right;
    text-align: right;
}
.fik_add_cart .input-mini {
    border: medium none;
    color: #808080;
    text-align: right;
}

.fik_product .entry-title {
    color: #ab2d2a;
    font-size: 25px;
    margin: 0;
    text-transform: uppercase;
}
.price-and-purchase {
    margin: 40px 0;
}
.price-and-purchase header {
    float: left;
    width: 50%;
}
.price-and-purchase p {
    color: #808080;
    line-height: 1.5;
}
.price-and-purchase p strong {
    color: #808080;
    line-height: 1.5;
}
.sizesinformation {
    color: #ab2d2a;
}
a.sizesinformation:hover {
    color: #ef9d9a;
    text-decoration: none;

}
.sizes {
    display: none;
}
.sizesandshippingsmodal {
    position: relative;
}
.sizesandshippingsmodal .sizes, .sizesandshippingsmodal .shippings {
    z-index: 1;
}
.sizesandshippingsmodaloverlay {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
.panel {
    box-shadow: none;
    margin-bottom: 0;
}
.panel-default {
    border: 3px solid #d7d2c5;
    border-radius: 0;
}
.guide {
    text-align: right;
}

footer .menu-footer {
}
.fikstores-badge {
    margin-top: 10px;
}
.nav li {
    float: left;
}
footer .nav.f-menu > li > a {
    padding: 10px;
}
.copyr {
    margin-top: 10px;
    padding-right: 35px;
    text-align: right;
}


.partelogo {
    margin-top: -9px;
}

.thumbnail {
    border-color: #ab2d2a;
    border-radius: 0;
    float: left;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-top: 30px;
    padding: 12px;
    width: 28%;
}
.thumbnails {
    display: inline-block;
    padding-left: 0;
}



@media (max-width: 480px) {
    a.logoheader {
        background: url("../img/symbol.png") 0 0 /  50px 50px repeat no-repeat;     
        height: 50px;
        width: 50px;
        display: block;
    }
    .logo{
        display: none;
    }
	.objWrap h1{font-size:1.3em;}
    .objWrap h2{font-size:0.8em;}
}

/* Phone */
@media (max-width: 640px) {
    .main li{margin: 150px 0;}
    .main:first-child,.main:last-child{margin: 0 !important;}
}

/* Small devices (tablets, 768px and down) */
@media (max-width: 768px) {

}

/* Medium devices (desktops, 992px and down) */
@media (max-width: 992px) {
    .nav{text-align:center;margin:0 auto;padding-top:18px;}
    .nav li{float:none !important;}
    .slider-nav {display:none;}

    .nav-main{
        float:right !important;
        width:120px;
        padding-top: 9px;
    }
    .naver-container li a{
        color:#fff !important;
    }
    ul.menu-bag {
        padding-top: 10px;
    }
    div.bolsa{
        padding-right: 0;
        padding-left: 0;
        width: auto;
    }

    body{font-size:90%;}
    .inner-footer .fiklogo, .inner-footer .social, .inner-footer .footer, .fiklogo, .social, .nav-footer{margin-top:20px;text-align:center;}
    .fiklogo {position: static;}

}

/* Large devices (large desktops, 1200px and down) */
@media (max-width: 1200px) {

}


